#searchbox {
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

header {
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
}

h1 {
    font-size: 70px;
}

a {
    color: whitesmoke;
}

a:hover {
    color: #3C6F6C;
}

section a {
    background-color: whitesmoke;
    padding: 13px;
    color: #3C6F6C;
}

section a:hover {
    color: #A58587;
}

#box {
    margin: 0 0;
    width: 100%;
    height: 500vh;
    background: #A58587;
    opacity: 1;
}

button {
    padding: 10px;
    margin: 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: #3C6F6C;
    opacity: 1;
}

#searchresults {
    min-height: 500px;
    width: 700px;
    background-color: #EDE7E7;
    border-radius: 10px;
    margin-top: 80px;
}

#chosenrecipe {
    min-height: 500px;
    width: 700px;
    background-color: #532D2F;
    border-radius: 10px;
    margin-top: 120px;
    /* margin-left: 25%; */
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    opacity: 1;
}

#recipeIngredients {
    min-height: min-content;
    width: 700px;
    background-color: #1C0F10;
    border-radius: 10px;
    margin-top: 120px;
    /* margin-left: 25%; */
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    opacity: 1;
}

h3 {
    padding: 15px;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: #3C6F6C;
    opacity: 1;
}

.cuisineConfirm {
    margin-top: 80px;
}

p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Arial', sans-serif;
    color: black;
}

.title {
    padding: 10px;
    color: #3C6F6C;
    font-size: 30px;
}

.instructions {
    margin: 20px;
}